<h3>Progress Report</h3>

<div style="height:100px;width:200px;margin:20px">
  <div id="progBarCont"></div>
  <p style="text-align:center" id="circVal"></p>

  {{#rad-button
    brand='primary'
    click=(action 'addOne')}}
    Add
  {{/rad-button}}

  {{#rad-button
    brand='primary'
    click=(action 'subOne')}}
    Subtract
  {{/rad-button}}
</div>
